Source: db-backup
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@er.tl>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), python3-all, rename
Vcs-Browser: https://github.com/mathiasertl/db-backup
Vcs-Git: https://github.com/mathiasertl/db-backup.git

Package: dbdump
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Regulary dump databases
 This script can be used to regulary dump databases. Notable features include:
 .
  * MySQL, PostgreSQL and Mnesia support
  * Dumping to a remote location via SSH
  * signing and encrypting backups

Package: dbclean
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Clean database dumps created by dbdump
 This script can be used to clean databases created by dbdump.
