#!/usr/bin/make -f

DH_ARGS=--with python3 --without python-support
PYVERS=$(shell py3versions -sv)

DBDUMP_PKG_DIR=$(CURDIR)/debian/dbdump/

%:
	dh $@ ${DH_ARGS}

build-python%:
	dh_testdir
	cd dbdump && python$* setup.py build

install-python%:
	dh_testdir
	cd dbdump && python$* setup.py install --force --root $(DBDUMP_PKG_DIR) --no-compile -O0 --install-layout=deb

override_dh_auto_build: ${PYVERS:%=build-python%}
	dh_auto_build

override_dh_install: ${PYVERS:%=install-python%}
	dh_install
	
	rename 's/.py//' debian/dbdump/usr/bin/*.py
	rename 's/.py//' debian/dbclean/usr/bin/*.py
